/* HERO SECTION */
.hero {
  height: 90vh;
  background: linear-gradient(
              rgba(0, 0, 0, 0.7),
              rgba(0, 0, 0, 0.9)
            ),
            url("https://images.unsplash.com/photo-1605902711622-cfb43c44367f");
  background-size: cover;
  background-position: center;
}
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.6);
}
.carousel img {
  height: 450px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .carousel img {
    height: 250px;
  }
}
